@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-custom {
  @apply min-h-screen bg-purple-100 flex items-center justify-center;
  background-image: url('../src//Components/assets//Desktop\ -\ 2.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  
}

.login-container {
  @apply bg-white p-8 rounded-lg shadow-md max-w-md w-1/2;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
